*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  background-color: #edf5ff;
  color: rgb(100 116 139);
}

.parent-container {
  padding: 1rem;
}

.json-container {
  font-size: 1rem;
}

.json__caret {
  cursor: pointer;
  user-select: none;
  display: none;
  transition: transform 0.2s ease-in-out;
}

.json__caret--close {
  transform: rotate(-90deg);
}

.json__caret--close ~ .json__sub-item {
  display: none;
}

.json__input {
  border: 1px solid rgb(203 213 225);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.json__btn {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.json-container > * {
  margin-right: 0.5rem;
}

.json__sub-item {
  margin-left: 3rem;
  position: relative;
  padding: 1rem 0 0 2rem;
}

.json__sub-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 2rem;
  height: 1px;
  background-color: rgb(203 213 225);
}

.json__sub-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(203 213 225);
}

.json__sub-item:last-child::after {
  height: 2rem;
}

.json__caret:has(~ .json__sub-item) {
  display: inline-block;
}
